Anthony Kalcic      <amk1997@hotmail.se>
Ludvig Andersson    <ludvand@student.chalmers.se> <Ludvand@student.chalmers.se>
Markus Pettersson   <markus.pettersson97@gmail.com>
Rasmus Lindgren     <ras.lindgren@telia.com>